*{
    margin: 0PX;
    padding: 0PX;
}
nav{
    width: 1320px;
    height: 30px; 
}
.logo{
   margin:2px 3px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;


}
li{
    list-style: none;
  margin: 4px 12px;
  line-height: 22px;
    float: right;  
    display: inline-block;
   margin-right: 30px;
   
   

}
a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  cursor:pointer;
  margin-top: 4px;
  
}

h4{
position: absolute;
top: 11px;
left: px;
color: black;
}
h1{
 position: absolute;
 top: 260px;
 left: 40px;
 font-size: 40px;
}
h5{
    position: absolute;
    top: 360px;
    left: 40px;
    font-size: 15px;
    text-align: left;
}
body{
   
    background-image: url(./img4.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    width: 1300px;
    height: 500px;
    
}
button{
  margin: 0px;
  padding: opx;
  margin-top: 420px;
  margin-left: 60px;
  width: 130px;
  height: 30px;
  border-radius: 8px;
  background-color:rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}
.button2{
  background-color: rgb(0, 0, 0);
  color: white;
}


img{
margin-top: 140px;
margin-left: 840px;
width: 300px;
height: 300px;
border-radius: 5px;
box-shadow: 0px 6px 10px black;

}
select{
  width:18px;
  background-color: rgb(17, 17, 17);
  color: white;
  margin-top: 6px;
}